<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alrosyid.notula">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.meetings.DetailMeetingsActivity"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.notulas.DetailNotulaActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.followups.DetailFollowUpActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.meetings.AddMeetingsActivity" />
        <activity android:name=".activities.attendances.EditAttendancesActivity" />
        <activity android:name=".activities.meetings.EditMeetingsActivity" />
        <activity android:name=".activities.attendances.AddAttendancesActivity" />
        <activity android:name=".activities.notulas.EditNotulaActivity" />
        <activity android:name=".activities.notulas.AddNotulasActivity" />
        <activity android:name=".activities.points.AddPointsActivity" />
        <activity android:name=".activities.points.EditPointsActivity" />
        <activity android:name=".activities.followups.AddFollowUpActivity" />
        <activity android:name=".activities.followups.EditFollowUpActivity" />

        <activity android:name=".activities.accounts.EditAccountsActivity" />
        <activity android:name=".activities.accounts.ChangePassAccountActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activities.AuthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>