<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alrosyid.notula">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.meetings.DetailMeetingsActivity2"
            android:label="@string/title_activity_detail_meetings2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.meetings.AddMeetingsActivity" />
        <activity android:name=".activities.attendances.EditAttendancesActivity" />
        <activity android:name=".activities.meetings.EditMeetingsActivity" />
        <activity android:name=".activities.attendances.AddAttendancesActivity" />
        <activity android:name=".activities.attendances.AttendacesActivity" />
        <activity android:name=".activities.ActivityDataKosong" />
        <activity android:name=".activities.meetings.DetailMeetingsActivity" />
        <activity android:name=".activities.notulas.EditNotulaActivity" />
        <activity android:name=".activities.notulas.AddNotulaActivity" />
        <activity
            android:name=".activities.notulas.DetailNotulaActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.notulas.ListsNotulaActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AuthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>